.container {
  @include container;

  &.container--centered {
    @include centered-content;
  }
}


.section {
  @include after($tablet-threshold) {
    margin: $spacing * .5;
  }

  margin: $spacing * .25;
}


.subsection {
  @include after($tablet-threshold) {
    margin: $spacing * .25;
  }

  margin: $spacing * .125;
}
