.button {
  @include button;

  &.button--outline {
    background-color: $color-background;
    color: $color-primary;
  }

  &.button--success {
    background-color: $color-success;
    border-color: $color-success;
  }

  &.button--error {
    background-color: $color-error;
    border-color: $color-error;
  }

  &.button--large {
    padding: $button-padding-large;
  }

  &.button--full {
    width: 100%;
  }
}


.textarea {
  padding: $spacing * .125;
}
