.list {
  margin: $list-margin;

  &.list--unordered {
    list-style-type: $list-unordered-style;
  }

  &.list--ordered {
    list-style-type: $list-unordered-style;
  }
}


.list-item {
  margin: $list-item-margin;
}
