.title {
  @include title;

  &.title--gargantuan {
    @include title-gargantuan;
  }

  &.title--huge {
    @include title-huge;
  }

  &.title--large {
    @include title-large;
  }

  &.title--small {
    @include title-small;
  }

  &.title--tiny {
    @include title-tiny;
  }
}


.paragraph {
  @include paragraph;

  &.paragraph--large {
    font-size: $font-size-large;
  }

  &.paragraph--small {
    font-size: $font-size-small;
  }

  &.paragraph--tiny {
    font-size: $font-size-tiny;
  }

  &.paragraph--loud {
    @include loud;
  }
}


.text {
  &.text--large {
    font-size: $font-size-large;
  }

  &.text--tiny {
    font-size: $font-size-tiny;
  }

  &.text--small {
    font-size: $font-size-small;
  }

  &.text--loud {
    @include loud;
  }

  &.text--centered {
    text-align: center;
  }
}


.link {
  @include link;

  &.link--inverted {
    color: $color-background;
  }
}


.pre {
  @include pre;
}


.code {
  @include code;
}
