.title {
  @include title($font-size, $font-weight-bold);
  font-family: $font-family-headings;

  &.title--gargantuan {
    @include title($font-size-gargantuan, $font-weight-bold);
  }

  &.title--huge {
    @include title($font-size-huge, $font-weight-bold);
  }

  &.title--large {
    @include title($font-size-large, $font-weight-bold);
  }

  &.title--small {
    @include title($font-size-small, $font-weight-medium);
  }

  &.title--tiny {
    @include title($font-size-tiny, $font-weight-medium);
  }
}


.paragraph {
  @include paragraph;

  &.paragraph--small {
    font-size: $font-size-small;
  }

  &.paragraph--tiny {
    font-size: $font-size-tiny;
  }

  &.paragraph--loud {
    @include loud;
  }
}


.text {
  &.text--tiny {
    font-size: $font-size-tiny;
  }

  &.text--small {
    font-size: $font-size-small;
  }

  &.text--loud {
    @include loud;
  }

  &.text--centered {
    display: none;
  }
}


.link {
  @include link;

  &.link--inverted {
    color: $color-background;
  }
}


.pre {
  @include pre;
}


.code {
  @include code;
}
